
    body{
        background-color:#f3f5f6;
    }

   hr {
        color: #3a465b;
        border-style: none;
        border-top-style: dotted;
        border-width: 5px;
        width: 99%;
    }
    p {
        color: #3a465b ;
    }
    h1 {
        color: #3a465b ;
    }
    h2 {
        color: #3a465b ;
    }
    h3 {
        color: #3a465b ;
    }
